<h3><p><a href="https://www.dvcoolster.com" > Home </a>
       <a style ="padding-left: 30px" href="https://twitter.com/dvcoolster" target = "_blank"> Twitter</a>
       <a style ="padding-left: 30px" href="https://dvcoolster.as.me/" target = "_blank"> Talk</a></h3>
<p>Imagining the Age of Understanding </p>
<hr> <br>
