<!-- Populate list of Blogs -->
<% site.posts.forEach(function(post) { %>
  <li><a style = "line-height: 163%"; href ="<%- post.path %>"><%- titlecase(post.title) %></a></li>
<% })%> <br>

<!-- Anything after list of Blogs/Posts -->
